header
{
    padding:0px;
    text-align:center;
}
body{
    font-family: Arial;
}
aside
{
    margin-top:5px;
    background-color:#F0BCBD;
    padding:5px;
    text-align:center;
    font-style:italic;
    border:double 3px #b200ff;
}
nav
{
    text-align:center;
}
table {
    width: 100%;
}
ul li
{
    display:inline;
    padding-left:5px;
    padding-right:5px;
    text-align:left;
    font-size:16px;
    font-weight:bold;
}
th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
tr:hover {background-color: #f5f5f5;}
th {
    background-color: #04AA6D;
    color: white;
}

.btn-delete:link, .btn-delete:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    opacity: 0.6;
    transition: 0.3s;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.btn-edit:link, .btn-edit:visited {
    background-color: mediumseagreen;
    color: white;
    padding: 14px 25px;
    opacity: 0.6;
    transition: 0.3s;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.btn-plus:link, .btn-plus:visited {
    width: 100%;
    background-color: #3197f2;
    color: white;
    font-size: 25px;
    padding: 14px 25px;
    opacity: 0.6;
    transition: 0.3s;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.btn-delete:hover, .btn-delete:active {
    background-color: red;
}
.btn-edit:hover, .btn-edit:active {
    background-color: green;
}
.btn-plus:hover, .btn-plus:active {
    background-color: #31bff2;
}
.menubar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.menubar li {
    float: left;
}

.menubar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menubar li a:hover {
    background-color: #111;
}
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #111;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: black;}

.dropdown:hover .dropdown-content {
    display: block;
}
input[type=text], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 80%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    width: 80%;
    background-color: #45a049;
}
