<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link th:href="@{/css/styleupdate.css}" rel="stylesheet" />
  <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/filmActor/addActor}" th:object="${addFilmActor}" method="post">
    <label>Name</label>
    <select th:field="*{actor.id}">
            <option th:each="actors : ${actorList}" th:value="${actors.id}" th:text="${actors}"></option>
    </select>

    <br/>
    <label>Film Name</label>
    <select th:field="*{film.id}">
        <option  th:each="films : ${byIdFilm}" th:value="${films.id}" th:text="${films}"></option>
    </select>
    <br/>
  <label>Rolü</label>
    <input type="text" th:field="*{role}" id="role" >
  <label>Rol Açıklaması</label>
  <input type="text" th:field="*{roleDescription}" id="roledesc">
    <input type="submit" class="btn btn-success" value="Ekle">
</form>
</body>
</html>