<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link th:href="@{/css/styleupdate.css}" rel="stylesheet" />
    <title>Title</title>
</head>
<body>
<div>
    <form  action="#" th:action="@{/api/update/{id}(id=${filmUpdate.id})}"
           th:object="${filmUpdate}" method="post">
        <label >Name</label>
        <input type="text" th:field="*{name}" id="name" >
        <br/>
        <label>Type</label>
        <input type="text"  th:field="*{type}" id="type">
        <br/>
        <label>Year</label>
        <input type="text" th:field="*{year}" id="year">
        <br/>
        <label>Media</label>
        <input type="text" th:field="*{media}" id="media">
        <br/>
        <label>Description</label>
        <input type="text" th:field="*{description}" id="description">
        <br/>
        <button type="submit" class="btn btn-info">Register</button>
    </form>
</div>

</body>
</html>